<h1>Welcome</h1>
<h3>Go to home <a href="/profile"><button class="btn btn-dark">Home</button></a></h3>
<div style="float:right; margin-bottom:2px;">
  <a href="/logout"><button class="btn btn-danger">Logout</button></a>
</div>
<form  method="post" action="/create">
<div class="form-group">
    <label for="exampleInputEmail1">Enter Valid Url:</label>
    <input type="text" class="form-control" name="url" placeholder="Enter public url">
    <button type="submit" class="btn btn-primary" style="margin-top:3px;">Submit</button>
  </div>
  </form>
  {{#if image}}
  <h3>Your generated thumbnail:</h3>
    <img src="images/{{image}}" alt="">
    {{else}}
    <h3>Your thumbnail will be generated down below:</h3>
  {{/if}}
