<center>
<H1>You can not see this page without authentication.</H1>
<hr>
<h1>Welcome {{user.name}}</h1>
<h3>Password:{{user.password}}</h3>
<a href="/create" ><button class="btn btn-primary">Create thumbnail</button></a>
<a href="/logout"><button>Logout</button></a>
</center>